@model GroovyGoodsWebApplication.Models.SupplierProduct

@{
    ViewData["Title"] = "Details";
}
<br>
<h1>Details</h1>
<br>
<div>
    <h4>SupplierProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">

            Product Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PidNavigation.Name)
        </dd>
        <dt class = "col-sm-2">
            Company
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SidNavigation.Company)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Spid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
