@model GroovyGoodsWebApplication.Models.SupplierProduct

@{
    ViewData["Title"] = "Edit";
}
<br>
<h1>Edit</h1>
<br>
<h4>Supplied Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Spid" />
            <div class="form-group"><br>
                <label asp-for="Sid" class="control-label"></label><br><br>
                <select asp-for="Sid" class="form-control" asp-items="ViewBag.Sid"></select>
                <span asp-validation-for="Sid" class="text-danger"></span>
            </div>
            <div class="form-group"><br>
                <label asp-for="Pid" class="control-label"></label><br><br>
                <select asp-for="Pid" class="form-control" asp-items="ViewBag.Pid"></select>
                <span asp-validation-for="Pid" class="text-danger"></span>
            </div>
            <div class="form-group"><br>
                <label asp-for="Cost" class="control-label"></label><br><br>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group"><br>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
