@model GroovyGoodsWebApplication.Models.Supplier

@{
    ViewData["Title"] = "Edit";
}
<br>
<h1>Edit</h1>
<br>
<h4>Supplier</h4>
<hr />
<div class="row">
    <div class="col-md-4">       
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sid" />
            <div class="form-group">          
                <label asp-for="Company" class="control-label"></label><br><br>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <label asp-for="ContactName" class="control-label"></label><br><br>
                <input asp-for="ContactName" class="form-control" />
                <span asp-validation-for="ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <label asp-for="Email" class="control-label"></label><br><br>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <label asp-for="Phone" class="control-label"></label><br><br>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <label asp-for="Address" class="control-label"></label><br><br>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <label asp-for="City" class="control-label"></label><br><br>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <label asp-for="Postcode" class="control-label"></label><br><br>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <label asp-for="Country" class="control-label"></label><br><br>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
